{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Restart",
      "GroupName": "Movement",
      "Title": "Restart",
      "KeyboardCode": "R",
      "GamepadCode": "SwitchLeftMenu"
    }
  ],
  "__guid": "54573027-36aa-4c4a-a59e-1fc3960c777b",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}